<div class="container intro-container">
  <!-- <h3 id="{{ site.about_title | slugify | default: 'about-me' }}">{{ site.about_title | default: "About Me" }}</h3> -->
  {%- if site.about_profile_images -%}
  <div class="row clearfix">
    <div class="slideshow-container">
      {%- for image in site.about_profile_images %}
      <div class="mySlides fade">
        <!-- <img class="profile-img" src="url({{ image.path | relative_url }})" style="width:100%"> -->
        <span class="profile-img" style="background-image: url({{ image.path | relative_url }})"></span>
      </div>
      {%- endfor -%}
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <script>
      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
      }
    </script>
  </div>
  {%- endif -%}
</div>
